{# templates/fondo.html.twig #}
<!DOCTYPE html>
<html lang=es>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block styles %}
    <style>
        body{
            margin:0;
            padding:0;
            height: 100%;
            width: 100%;
            background-image: url('/IMG/fondo.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover; 
        }
    </style>
    {% endblock %}
</body>
</html>
