{# templates/footer.html.twig #}
<!DOCTYPE html>
<html lang=es>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ asset('CSS/footer.css') }}">
</head>
<div class="footer">
    <div class="footer-links">
        <a href="https://twitter.com" target="_blank">
            <img src="/Iconos/gorjeo.png" alt="Twitter">
        </a>
        <a href="https://instagram.com" target="_blank">
            <img src="/Iconos/instagram.png" alt="Instagram">
        </a>
        <a href="https://facebook.com" target="_blank">
            <img src="/Iconos/facebook.png" alt="Facebook">
        </a>
    </div>
    <p>Para cualquier consulta o reclamación, escribe al correo <a href="mailto:neogame-consultas@gmail.com">neogame-consultas@gmail.com</a></p>
</div>
