{# templates/perfil.html.twig #}
<!DOCTYPE html>
<html lang=es>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="CSS/perfil.css">
</head>
<body>
    <div id="cabecera">
        <table>
            <tr>
                <td><a href="{{path('inicio')}}">Inicio</td>
                <td>2ª Mano</td>
                <td>Ofertas</td>
                <td><a href="{{path('perfil')}}">Perfil</td>
            </tr>
        </table>
    </div>
    
    <div id="datos-perfil">
        <div>Cambiar Nombre de Usuario</div>
        <div>Cambiar Apellidos de usuario</div>
        <div>Cambiar Contraseña</div>
        <div>Cambiar Correo</div>
        <div>Cambiar Dirección</div>
        <div>Borrar Cuenta</div>
    </div>
  </body>
</html>
