body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #005f99;
    color: #f0f0f0; 
}

.container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    width: 80%;
    max-width: 800px;
    margin: 6% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 , p{
    text-align: center;
    color: #004080; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #004080; 
}

th {
    background-color: rgba(0, 95, 153, 0.2); 
}

tr:hover {
    background-color: rgba(0, 95, 153, 0.1); 
}

button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049; 
}

table a {
    text-decoration: none;
    color: #4CAF50; 
}

table a:hover {
    text-decoration: underline;
    color: #45a049; 
}

.total {
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
    color: #004080; 
}

.actions {
    text-align: right;
    margin-top: 10px;
}

a img{
    width: 18px;
    height: 15px;
    transition: transform 0.3s ease;
}

a img:hover{
    transform: scale(1.2);
}
#icono{
    width: 72px;
    height: 60px;
    display: block;
    margin: 20px auto;
}

#cDescuento{
    font-size: 18px;
    color: #004080; 
}

