.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    text-align: center;
    background-color: white;
    width: 50%;
    border: 2px solid black;
    margin:  10% auto;
    border-radius: 25px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

a {
    font-size: 1em;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
